body {
  background-color: #efebeb!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact-img{
  width: 80px;
    height: 80px;
  border-radius: 60px;
}

.contact-img-height{
  height: 130px;
  text-align: center;
  /* border-radius: 50px; */
  margin-left: 30%;
}

.person_data_table{
  width:100%;
}

.person_data_table tr{
  line-height: 40px;;
}

.form_error{
  font-size: 10px;
  color: red;
}

.search_field{
  width: 50%;
}